---
layout: sezionelocale
title: ILS Milano
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>La Sezione Locale di Italian Linux Society di Milano nasce in primis dagli studenti dell'Università Bicocca, che - anche in virtù del <a href="https://linuxdaymilano.org/">Linux Day Milano</a> - hanno aggregato diverse realtà (anche professionali) attive nel capoluogo meneghino e dintorni.</p>
        <p>Siamo in stretto contatto con la community del POuL del Politecnico di Milano.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/milano/9">Associati a Italian Linux Society - Milano</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                 <p>
                     <strong>Referente</strong>:<br />
                     kowalski7cc@linux.it
                 </p>
                 <p>
                     <strong>Gruppo Telegram</strong>:<br />
                     <a class="btn btn-primary" role="button" href="https://t.me/unixmib" rel="nofollow">@unixmib</a>
                 </p>
            </div>
        </div>
    </div>
</div>
