---
layout: page
title: L'Associazione
description: ILS favorisce la diffusione del sistema operativo libero Linux, la libera circolazione delle idee e della conoscenza in campo informatico e promuove lo studio ed il libero utilizzo delle idee e degli algoritmi destinati al funzionamento dei sistemi informatici
---

<div itemscope itemtype="http://schema.org/Organization">
    <img itemprop="logo" src="/images/italian_linux_society_round_mid-text.png" alt="Italian Linux Society" class="float-right" />

    <p><strong><span itemprop="name">Italian Linux Society</span></strong>, nota più semplicemente come <strong>ILS</strong>, nasce nel <span itemprop="foundingDate">1994</span> ed in breve tempo si estende a tutto il territorio nazionale fino a diventare la più grande associazione italiana per la promozione e la divulgazione di Linux e del Software Libero.</p>
    <p itemprop="description">ILS favorisce la diffusione del sistema operativo libero Linux, la libera circolazione delle idee e della conoscenza in campo informatico e promuove lo studio ed il libero utilizzo delle idee e degli algoritmi destinati al funzionamento dei sistemi informatici.</p>
    <p>Per saperne di più su Linux e sul Software Libero visita il nostro sito dedicato, <a href="https://www.linux.it/">Linux.it</a></p>
    <p>Investiamo le donazioni per sostenere attività sul software libero, e le spese legate a banchetti, gadget, ecc. Scopri come funziona la <a href="/info/rimborsi">procedura di rimborsi Italian Linux Society</a>.</p>

    <hr>

    <h2 id="aderenti">Aderenti</h2>
    <p>Italian Linux Society è presente in tutta Italia, tramite Sezioni Locali e Associazioni Aderenti.</p>

    <div class="row">
        <div class="col-md-7"><div id="mapid"></div></div>
        <div class="col-md-5">
            <div class="row" id="sections">
                <div class="col-12">
                    <strong>Sezioni Locali</strong>
                </div>
                {{% localsections type=div %}}
            </div>
            <p>Per informazioni sulle Sezioni Locali e su come proporne di nuove: <a href="/sezionilocali/">Sezioni Locali Italian Linux Society</a>.</p>
            <hr>
            <div class="row" id="associations">
                <div class="col-12">
                    <strong>Associazioni Aderenti</strong>
                </div>
                {{% associations %}}
            </div>
            <p class="mt-3">Per informazioni sulle Associazioni Aderenti e su come proporre nuove adesioni: <a href="/associazioni">Associazioni Aderenti a Italian Linux Society</a>.</p>
        </div>
    </div>

    {{% info-map %}}

    <hr>

    <h2 id="partner">Partner</h2>
    <p>Italian Linux Society ha relazioni e rapporti con diverse realtà nazionali e internazionali senza scopo di lucro, impegnate sul tema delle libertà digitali e della consapevolezza tecnologica.</p>
    <div class="row justify-content-md-center">
        {{% partners %}}
    </div>

    <hr>

    <h2 id="sponsor">Sponsor</h2>
    <p>Gli sponsor sono aziende che lavorano con software libero e open source e sostengono le attività di Italian Linux Society.</p>
    <div class="row justify-content-md-center">
        {{% sponsors %}}
    </div>
    <p class="mt-3">Scopri in cosa consiste una <a href="/sponsorizzazioni/">sponsorizzazione con Italian Linux Society</a> e come attivarne una nuova.</p>
    <hr>

    <h2 id="donazioni">Donazioni</h2>
    <p>Aiutaci ad aiutare la community! Per le tue donazioni, di qualunque entità, o per il rinnovo della tua quota di iscrizione, fai riferimento al seguente conto corrente:</p>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            Banca: Unicredit Banca<br>
            IBAN: IT 74 G 02008 12609 000100129899<br>
            Intestato a: ILS ITALIAN LINUX SOCIETY
        </div>
    </div>
    <br>
    <p>oppure usa il conto PayPal:</p>
    <div class="card text-white bg-secondary">
        <div class="card-body">
            Intestatario: direttore@linux.it
        </div>
    </div>

    <hr>

    <section id="consiglio-direttivo">
    <h2>Consiglio Direttivo</h2>
    <p>Le seguenti persone volontarie fanno parte del Consiglio Direttivo di Italian Linux Society. Sono in carica da aprile 2024 ad aprile 2027:</p>
    <ul>
        <li><a href="mailto:gnu@linux.it">Valerio Bozzolan (Presidente)</a></li>
        <li><a href="mailto:loviuz@linux.it">Fabio Lovato (Direttore)</a></li>
        <li><a href="mailto:fdila@linux.it">Federica Di Lauro</a></li>
        <li><a href="mailto:naima@linux.it">Luisa Ravelli</a></li>
        <li><a href="mailto:mte90@linux.it">Daniele Scasciafratte</a></li>
    </ul>
    </section>

    <details>
        <summary>Consulta l'archivio storico dei direttivi precedenti.</summary>
        <div class="mt-3"></div>

        <section>
        <h3>Consiglio Direttivo da aprile 2021 ad aprile 2024</h3>
        <ul>
            <li>Roberto Guido (presidente)</li>
            <li>Valerio Bozzolan (direttore)</li>
            <li>Alessandro Rubini</li>
            <li>Daniele Scasciafratte</li>
            <li>Matteo Ruffoni</li>
        </ul>
        <p>Fonte interna: <a href="https://lists.linux.it/private/soci/2021-April/026766.html" rel="nofollow">"verbale assemblea 10/04/2021" (email del 12/04/2021)</a></p>
        </section>

        <section>
        <h3>Consiglio Direttivo da aprile 2018 ad aprile 2021</h3>
        <ul>
            <li>Roberto Guido (presidente)</li>
            <li>Rosario Antoci (direttore)</li>
            <li>Alessandro Rubini</li>
            <li>Fausto Picchi</li>
            <li>Massimo Nuvoli</li>
            <li>Matteo Ruffoni</li>
            <li>Paolo Mauri</li>
        </ul>
        <p>Fonte interna: <a href="https://lists.linux.it/private/soci/2018-March/025858.html" rel="nofollow">"verbale assemblea 24/03/2018" (email del 26/03/2018)</a>
        </section>

        <section>
        <h3>Consiglio Direttivo da aprile 2015 ad aprile 2018</h3>
        <ul>
            <li>Roberto Guido (presidente)</li>
            <li>Nicola Bignami (direttore)</li>
            <li>Fausto Picchi</li>
            <li>Matteo Ruffoni</li>
            <li>Paolo Mauri</li>
        </ul>
        <p>Fonti interne:
           <a href="https://lists.linux.it/private/soci/2015-April/025015.html" rel="nofollow">"resoconto assemblea di sabato" (email del 14/04/2015)</a>
         · <a href="https://lists.linux.it/private/soci/2015-April/025029.html" rel="nofollow">"verbale assemblea ordinaria 11/04/2015" (email del 22/04/2015)</a>
        </p>
        </section>

        <section>
        <h3>Consiglio Direttivo da aprile 2012 ad aprile 2015</h3>
        <ul>
            <li>Maurizio Napolitano (presidente)</li>
            <li>Roberto Guido (direttore)</li>
            <li>Stefano Canepa</li>
            <li>Antonio Gallo (consigliere dimessosi - 2013-03-12)</li>
            <li>Andrea Gelmini (consigliere dimessosi)</li>
            <li>Nicola Bignami (subentrato nel 2013)</li>
            <li>Paolo Folletto (subentrato nel 2013)</li>
        </ul>
        <p>Fonte:
           <a href="https://madbob.wordpress.com/2012/06/03/la-direzione/">"La Direzione" (post del 3 giugno 2012 di Roberto Guido)</a>
        </p>
        <p>Fonti interne:
           <a href="https://lists.linux.it/private/soci/2012-June/023363.html" rel="nofollow">"verbale consiglio direttivo 12/06/2012" (email del 24/06/2012)</a>
         · <a href="https://lists.linux.it/private/soci/2013-April/023942.html" rel="nofollow">"verbale assemblea soci 06/04/2013" (email del 15/04/2012)</a>
        </p>
        </section>

        <section>
        <h3>Consiglio Direttivo da aprile 2011 a febbraio 2012</h3>
        <ul>
            <li>Michele Dalla Silvestra (presidente)</li>
            <li>Enrico Cherubini (direttore, ma non membro del consiglio direttivo)</li>
            <li>Maurizio Grillini</li>
            <li>Luca Menini</li>
            <li>Alessio Pennasilico</li>
            <li>Alessandro Rubini</li>
        </ul>
        <p>Fonte interna:
           <a href="https://lists.linux.it/private/soci/2011-April/022512.html" rel="nofollow">"Verbale assemblea del 20/04/2011" (email del 28/04/2011)</a>
        </p>
        </section>

        <section>
        <h3>Consiglio Direttivo da aprile 2008 ad aprile 2011</h3>
        <ul>
            <li>Michele dalla Silvestra (presidente)</li>
            <li>Enrico Cherubini (direttore)</li>
            <li>Daniele Cortesi (direttore poi sostituito da Enrico Cherubini)</li>
            <li>Diego Zanga</li>
            <li>Gaetano Zappulla</li>
            <li>Marco d'Itri</li>
            <li>Alessio Pennasilico</li>
        </ul>
        <p>Fonte interna:
           <a href="https://lists.linux.it/private/soci/2008-April/019482.html" rel="nofollow">"Verbale assemblea soci ILS del 19/04/2008" (email del 29/04/2008)</a>
        </p>
        </section>

        <section>
        <h3>Consiglio Direttivo da aprile 2005 ad aprile 2008</h3>
        <ul>
            <li>Michele Dalla Silvestra (presidente)</li>
            <li>Carlo Perassi (direttore)</li>
            <li>Antonio Gallo</li>
            <li>Daniele Cortesi</li>
            <li>Davide Cerri</li>
            <li>Marco D'Itri</li>
            <li>Stefano Canepa</li>
        </ul>
        <p>Fonte interna:
           <a href="https://lists.linux.it/private/soci/2005-April/015844.html" rel="nofollow">"Verbali assemblea dei soci e direttivo" (email del 21/04/2005)</a>
        </p>
        </section>

        <section>
        <h3>Consiglio Direttivo da febbraio 2002 ad aprile 2005</h3>
        <ul>
            <li>Carlo Strozzi (presidente)</li>
            <li>Carlo Perassi (direttore)</li>
            <li>Antonio Gallo</li>
            <li>Davide Cerri</li>
            <li>Michele Dalla Silvestra</li>
            <li>Francesco Dolcini (dimessosi)</li>
            <li>Luca Maranzano (dimessosi)</li>
            <li>Marco d'Itri (subentrato a febbraio 2003)</li>
            <li>Antonella Beccaria (subentrata a febbraio 2003)</li>
        </ul>
        <p>Fonte:
             <a href="https://web.archive.org/web/20020602025546/http://www.linux.it/ILS/soci.shtml" rel="nofollow">Consiglio direttivo di ILS, 2002, Internet Archive</a>
        </p>
        <p>Fonti interne:
             <a href="https://lists.linux.it/private/soci/2002-March/009839.html" rel="nofollow">"Verbale assemblea ILS 23-2-2002" (email del 2/03/2002)</a>
           · <a href="https://lists.linux.it/private/soci/2003-February/012062.html" rel="nofollow">"verbale assemblea dei soci" del 22/2/2003 (email del 28/02/2003)</a>
        </p>
        </section>

        <section>
        <h3>Consiglio Direttivo da febbraio 1999 ad aprile 2002</h3>
        <ul>
            <li>Sandro Zappatore (presidente)</li>
            <li>Carlo Strozzi (vice-presidente)</li>
            <li>Luca Maranzano</li>
            <li>Valerio Aimale</li>
            <li>Antonio Gallo</li>
        </ul>
        <p>Fonti:
           <a href="https://web.archive.org/web/20001102224052/http://www.linux.it/ILS/soci.shtml" rel="nofollow">Elenco Soci di ILS, 1999, Internet Archive</a>
        </p>
        </section>

        <hr />

        <section>
           <p>Per consultare altri dati storici, <a href="/contatti/">contatta Italian Linux Society</a>.</p>
        </section>

    </details>

    <h2 class="pt-3">Documenti</h2>
    <ul>
        <li><a href="/statuto/">Statuto dell'associazione Italian Linux Society</a></li>
    </ul>
</div>
