---
layout: sezionelocale
title: ILS Bari
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>La Sezione Locale di Bari nasce dal gruppo informale che negli anni ha organizzato il Linux Day nel capoluogo pugliese, e coinvolge diversi soggetti soprattutto nell'ambito dell'università locale.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/bari/5">Associati a Italian Linux Society - Bari</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>:<br />
                        ferdinando.traversa@linux.it
                    </p>
                    <p>
                        <strong>Forum</strong>:<br />
                        <a href="https://forum.linux.it/c/lug/ils-bari/22">Forum ILS Bari</a>
                    </p>
                    <p>
                        <strong>Sito ufficiale</strong>:<br />
                        <a class="btn btn-primary" role="button" href="https://bari.ils.org/" title="Italian Linux Society - sezione locale di Bari">ILS Bari</a>
                    </p>
            </div>
        </div>
    </div>
</div>
