---
layout: sezionelocale
title: ILS Prato
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>La <strong>Sezione Locale di Prato</strong> di Italian Linux Society nasce da un gruppo di persone appassionate all'informatica e al software libero, con un forte desiderio di coinvolgere la comunità.</p>
        <p>Il gruppo è per noi un modo per contribuire allo sviluppo tecnologico della realtà locale, e per dare opportunità alle nuove generazioni di vivere il mondo dell'informatica libera con il nostro aiuto e affiancamento.</p>
        <p>Tramite la Sezione ci proponiamo di creare un'occasione di ritrovo per gli appassionati e gli interessati di Prato.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/prato/17">Associati in Italian Linux Society - Prato</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Referente</strong>: Alessandro Grassi<br>aggro@linux.it
                </p>
            </div>
        </div>
    </div>
</div>
