---
layout: sezionelocale
title: Imperia
---

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Imperia</h1>
        <p>
            Il gruppo nasce nei primi anni del 2000 come Gugli e rimane attivo per vari anni, cambia nome in Slimp e la sua storia prosegue.
        </p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>: ugone@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
