---
layout: sezionelocale
title: San Dona' di Piave
---

<p>
</p>

<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS San Dona' di Piave</h1>
        <p>
    La Sezione Locale di San Donà di Piave è la prima Sezione Locale di Italian Linux Society nel Veneto: instaurata ad aprile 2020, raccoglie l'esperienza dello 0421-Lug, gruppo informale attivo dall'agosto 2005 nella Città Metropolitana di Venezia, e più in particolare all'interno del cosiddetto territorio del "Veneto Orientale", per la diffusione del Software Libero anche attraverso la partecipazione a diversi "Linux Day" e la funzione di supporto logistico per la realizzazione dell'"End Summer Camp", evento regionale dedicato ai temi dell'Hacking, del Free Software e del Do-it-Yourself.
    </p>

    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>: sebastiano@linux.it
                    </p>

            </div>
        </div>
    </div>
</div>
