---
layout: page
title: Informativa Privacy
---

<p>Ai sensi  del Regolamento (UE) 2016/679 (di seguito "Regolamento"), questa pagina descrive le modalità di trattamento dei dati personali degli utenti che consultano i siti web dell'associazione Italian Linux Society accessibili per via telematica ai seguenti indirizzi:</p>

<ul>
    <li>www.ils.org</li>
    <li>www.linux.it</li>
    <li>www.linuxday.it</li>
    <li>www.linuxsi.com</li>
    <li>www.sistemainoperativo.it</li>
    <li>crm.linux.it</li>
    <li>lugmap.linux.it</li>
    <li>planet.linux.it</li>
    <li>scuola.linux.it</li>
    <li>servizi.linux.it</li>
    <li>donazioni.linux.it</li>
    <li>forum.linux.it</li>
    <li>survey.linux.it</li>
    <li>stats.linux.it</li>
    <li>gimpitalia.it</li>
</ul>

<p>Le presenti informazioni non riguardano altri siti, pagine o servizi online raggiungibili tramite link ipertestuali eventualmente pubblicati nei siti ma riferiti a risorse esterne al dominio dell'associazione.</p>

<h3>TITOLARE DEL TRATTAMENTO</h3>
<p>A seguito della consultazione dei siti sopra elencati possono essere trattati dati relativi a persone fisiche identificate o identificabili.</p>
<p>Titolare del trattamento è l'Associazione Italian Linux Society, con sede in via San Rocco, 2, 10133 Torino (TO) (Email: presidente@linux.it, PEC: italianlinuxsociety@pec.it).</p>

<h3>BASE GIURIDICA DEL TRATTAMENTO</h3>
<p>I dati personali indicati in questa pagina sono trattati dall'Associazione Italian Linux Society nell'esecuzione del proprio scopo associativo, ivi incluso l'obiettivo di promuovere la consapevolezza e favorire la comprensione del pubblico riguardo il software libero e le libertà digitali.</p>

<h3>TIPI DI DATI TRATTATI E FINALITÀ DEL TRATTAMENTO</h3>

<h4>Dati di navigazione</h4>
<p>I sistemi informatici e le procedure software preposte al funzionamento di questo sito acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet.</p>
<p>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer e dei terminali utilizzati dagli utenti, gli indirizzi in notazione URI/URL (Uniform Resource Identifier/Locator) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente.</p>
<p>Tali dati, necessari per la fruizione dei servizi web, vengono anche trattati allo scopo di:</p>
<ul>
    <li>ottenere informazioni statistiche sull'uso dei servizi (pagine più visitate, numero di visitatori per fascia oraria o giornaliera, aree geografiche di provenienza, ecc.);</li>
    <li>controllare il corretto funzionamento dei servizi offerti.</li>
</ul>

<h4>Dati comunicati dall'utente</h4>
<p>L'invio facoltativo, esplicito e volontario di messaggi agli indirizzi di contatto dell'Associazione Italian Linux Society, i messaggi privati inviati dagli utenti ai profili/pagine istituzionali sui social media (laddove questa possibilità sia prevista), nonché la compilazione e l'inoltro dei moduli presenti sui siti dell'associazione, comportano l'acquisizione dei dati di contatto del mittente, necessari a rispondere, nonché di tutti i dati personali inclusi nelle comunicazioni.</p>

<h4>Cookie e altri sistemi di tracciamento</h4>
<p>Non viene fatto uso di cookie per la profilazione degli utenti, né vengono impiegati altri metodi di tracciamento.</p>
<p>Viene invece fatto uso di cookie di sessione (non persistenti) in modo strettamente limitato a quanto necessario per la navigazione sicura ed efficiente dei siti. La memorizzazione dei cookie di sessione nei terminali o nei browser è sotto il controllo dell'utente, laddove sui server, al termine delle sessioni HTTP, informazioni relative ai cookie restano registrate nei log dei servizi, con tempi di conservazione comunque non superiori ai quindici giorni al pari degli altri dati di navigazione.</p>

<h3>DESTINATARI DEI DATI</h3>
<p>Sono destinatari dei dati raccolti a seguito della consultazione dei siti sopra elencati i soci dell'Associazione Italian Linux Society adibiti alla manutenzione, amministrazione e supervisione delle piattaforme web usate.</p>
<p>I dati personali raccolti sono ugualmente trattati da soci, nell'esercizio delle loro attività atte a perseguire lo scopo associativo.</p>

<h3>DIRITTI DEGLI INTERESSATI</h3>
<p>Gli interessati hanno il diritto di ottenere dall'Associazione Italian Linux Society, nei casi previsti, l'accesso ai propri dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento che li riguarda o di opporsi al trattamento. L'apposita istanza è presentata contattando l'associazione stessa.</p>
