---
layout: sezionelocale
title: ILS Alessandria
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>La Sezione Locale ILS di Alessandria raccoglie l'eredità di ALLUG, il precedente LUG cittadino.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/alessandria/8">Associati a Italian Linux Society - Alessandria</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Referente</strong>:<br />
                        angelo.pistamiglio@linux.it
                    </p>
                    <p>
                        <strong>Sito ufficiale</strong>:<br />
                        <a class="btn btn-primary" role="button" href="https://alessandria.ils.org/" title="Italian Linux Society - Alessandria">ILS Alessandria</a>
                    </p>
            </div>
        </div>
    </div>
</div>
