---
layout: sezionelocale
title: Arona
---
<div class="row">
    <div class="col-12 col-md-8">
        <h1 class="mb-3">ILS Arona</h1>
        <p>
        La Sezione Locale di Arona di Italian Linux Society nasce nel 2024 da un nucleo di persone che a seguito dello scioglimento di Associazione Culturale Musica <a href="https://associazionesamsara.wordpress.com/" rel="nofollow">SAMSARA</a> hanno deciso di proseguire le attività riguardo la divulgazione del software libero GNU/Linux in collaborazione con gli enti locali del territorio garantendo la fruibilità degli eventi in forma libera e gratuita.<br />
        La Sezione Locale di Arona è attiva grazie alle persone attiviste nell'user group di Arona intitolato "JET LUG".
        </p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                    <p>
                        <strong>Web</strong>: <a href="https://www.jetlug.it/" rel="nofollow">Sito ufficiale ILS Arona</a>
                    </p>
                    <p>
                        <strong>Referente</strong>: gr33nR10t@linux.it
                    </p>
            </div>
        </div>
    </div>
</div>
