---
layout: page
title: Sezioni Locali
---

<img src="https://www.linux.it/shared/?f=immagini/sezionelocale.png" class="float-right">

<p>Le <strong>Sezioni Locali</strong> sono gruppi operativi sul territorio, informalmente organizzati all'interno dell'associazione Italian Linux Society. Lo scopo è quello di fornire gli strumenti burocratici, fiscali ed amministrativi per permettere alle persone volontarie sul territorio di relazionarsi più facilmente con le proprie istituzioni ed ottenere spazi, sponsorizzazioni ed autorizzazioni, pur senza l'onere di dover mantenere una propria associazione o avere una propria sede legale.</p>
<p>L'iniziativa è rivolta sia a Linux Users Group esistenti - in particolare quelli che già non si sono costituiti come associazioni - sia a nuovi gruppi di persone appassionate che vorrebbero strutturare attività di divulgazione e promozione di Linux e del software libero nella propria città.</p>

<h2>Elenco delle Sezioni Locali</h2>

<p>Qualsiasi persona associata a Italian Linux Society può unirsi ad una delle seguenti sezioni locali:</p>

<ul>
    {{% localsections type=li %}}
</ul>

<h2 id="linee-guida">Linee Guida</h2>
<h3>Apertura di una Nuova Sezione Locale</h3>
<p>Per aprire una nuova Sezione Locale:</p>
<ol>
	<li>proporre un <strong>nome legato alla città di riferimento</strong>, e.g. ILS Roma, ILS Milano, ILS Voghera.</li>
	<li>avere almeno <strong>3 persone</strong> che vogliano essere Affiliate alla Sezione Locale e che siano:</li>
		<ul>
			<li><b>soci di Italian Linux Society</b> (come definito dallo <a href="/statuto/" title="Statuto di Italian Linux Society">statuto</a>)</li>
			<li>oppure chi si è appena registrato come potenziale socio e ha da poco versato la quota associativa ed ha quindi una <b>domanda di ammissione a soci di Italian Linux Society</b> regolare ed è soltanto in attesa della ratifica a soci (sempre come definito dallo statuto)</li>
		</ul>
	</li>
	<li>segnalare la richiesta di apertura ai soci di Italian Linux Society e al consiglio direttivo.
		<ul>
			<li>Per esempio, manda una semplice email alla "<a href="https://lists.linux.it/listinfo/soci" rel="nofollow" target="_blank">lista soci</a>" (disponibile a tutte le persone associate).</li>
			<li>Come ulteriore esempio vedi questa richiesta nell'archivio della lista soci: <a href="https://lists.linux.it/private/soci/2024-May/027328.html" rel="nofollow" target="_blank">richiesta 15 maggio 2024</a>.</li>
		</ul>
	</li>
	<li>nella richiesta, proporre una di queste persone come <strong>Referente della Sezione Locale</strong></li>
	<li>nella richiesta, indicare le <b>coordinate del centro delle vostre attività</b> anche approssimative (<a href="https://www.openstreetmap.org/?mlat=43.4274&mlon=9.8986" rel="nofollow" target="_blank">esempio: <code>43.4274, 9.8986</code></a>).<br />
	    In assenza di una sede, indicate comunque un punto, il centro città, ecc. - giusto per la mappa.</li>
	<li>nella richiesta, chiarite se è per voi sufficiente la pagina standard sotto <a href="/sezionilocali/" target="_blank">ils.org/sezionilocali/</a> oppure se avete <b>anche</b> bisogno di un'intera <b>installazione WordPress</b> per voi sotto <code>sezione.ils.org</code>.</li>
	<li>attendere almeno <b>3 giorni</b> per lasciare ai soci spazio per commentare la vostra bella iniziativa</li>
	<li>attendere l'approvazione dal <a href="/info/#consiglio-direttivo" target="_blank">Consiglio Direttivo</a></li>
</ol>

<h3>Composizione</h3>
<p>Chi è socio di Italian Linux Society o chi è in attesa di ratifica a socio (quindi chi ha quota associativa regolarmente versata anche da poco tempo) è un Potenziale Affiliato ad una qualsiasi sezione locale. Ogni Potenziale Affiliato può affiliarsi ad una sezione locale e possono affiliarsi o revocare l'affiliazione a ciascuna Sezione Locale.</p>
<p>Ogni Sezione Locale ha una persona <strong>Referente</strong> nominata dal Consiglio Direttivo di ILS, dando priorità alle preferenze delle persone Affiliate.</p>
<p>Chi è affiliato ad una Sezione Locale può in qualsiasi momento avanzare richiesta al Consiglio Direttivo per modificare il proprio "organigramma" interno.</p>

<h3>Servizi a disposizione</h3>
<p>Chi è Referente può avere <b>delega</b> per le attività di ordinaria amministrazione dei rapporti pubblici nei confronti della propria Sezione Locale, fra cui, delega per richieste di <b>autorizzazioni e concessioni non-onerose da parte degli enti locali</b> e <b>richieste di patrocini non-onerosi</b>. La delega si intende revocata all'elezione o nomina di un diverso Referente o allo scoglimento della Sezione Locale.</p>
<p>Nota: chi è Referente <b>non</b> può in ogni caso assumersi impegni di natura economica, per esempio, non gestisce in alcun modo i conti correnti di Italian Linux Society.</p>
<p>Ogni Sezione Locale ha una sua propria <strong>cassa</strong> gestita internamente a ILS, che ne determina le disponibilità economica. In tale cassa confluiscono:</p>
<ul>
	<li>le donazioni con oggetto "Donazione a Sezione Locale XXX"</li>
	<li>le sponsorizzazioni destinate alla Sezione Locale</li>
	<li>il 40% delle quote annuali di iscrizione dei soci ILS afferenti a tale Sezione Locale</li>
</ul>
<p>Al fine di incoraggiare le Sezioni Locali a non accumulare risorse inutilizzate, a cadenza annuale i fondi assegnati alle Sezioni Locali ma non spesi vengono ridotti del 50% e rientrano nella disponibilità di ILS. Il Consiglio Direttivo ILS può comunque destinare fondi e risorse addizionali, oltre la disponibilità contabile e <strong>fino a 1000 euro all'anno</strong>, alle Sezioni che presentino progetti specifici e congrui con le finalità dell'associazione, in un'ottica di mutua assistenza.</p>
<p>Ogni Sezione Locale può chiedere di <strong>veicolare annunci</strong> (fino a 4 all'anno) via email agli iscritti alla newsletter ILS che hanno specificato interesse per la provincia in cui si trova la Sezione stessa (i numeri variano molto da provincia a provincia).</p>
<p>Ogni Sezione Locale ha una sua propria pagina web sul sito <a href="/">www.ils.org</a> e può richiedere una istanza WordPress sotto il dominio <strong>città.ils.org</strong> da gestire autonomamente per pubblicare contatti, news o altro.</p>

<h3>Compiti dei referenti</h3>
<p>Chi è Referente di una Sezione Locale si impegna a condividere un breve <strong>report semestrale</strong> delle attività svolte nel proprio territorio (corsi, incontri tematici, assistenza alle scuole, rapporti con le istituzioni locali...), nonché a comunicare con sufficiente anticipo attività future che possano essere riportate sulla <a href="/newsletter">newsletter periodica di ILS</a>.
Questo report è da condividere in lista soci (o sul forum, sezione Progetti) entro il 10 di marzo, ed entro il 10 di novembre (metti queste due date ricorrenti a calendario per favore).</p>
<p>Chi è Referente di una Sezione Locale aiuta nella revisione dei <a href="/info/rimborsi/">Rimborsi Spese</a> nella Sezione Locale di afferenza.</p>

<h3>Scioglimento</h3>
<p>Nel caso in cui il numero delle persone Affiliate ad una Sezione Locale scenda sotto il numero di 3, la stessa è sciolta e le risorse ad essa assegnate entrano nella disponibilità generale di ILS.</p>
<p>La Sezione Locale decade a seguito di due anni senza alcuna attività svolta (incluso il <a href="https://www.linuxday.it/">Linux Day</a>).</p>

<details>
    <summary>
        Scopri i consigli aggiuntivi per l'apertura.
    </summary>
    <h3>Consigli per l'Apertura</h3>
    <p>Mentre la tua nuova sezione locale viene valutata dai soci e dal consiglio direttivo,
       è tradizione che sia una persona dalla vostra nuova squadra a preparare una bella proposta di modifica a questo sito web che stai leggendo
       (e che infatti è software libero!).
    </p>
    <p>Per essere aggiunti più velocemente nell'elenco delle <a href="/sezionilocali/" target="_blank">sezioni locali</a>, potete:</p>
    <ol>
        <li>aggiungere una riga in questo file:<br />
            <a href="https://gitlab.com/ItalianLinuxSociety/ils.org/-/blob/master/_config.yml?ref_type=heads" rel="nofollow" target="_blank">ils.org:<code>/_config.yml</code></a>
        </li>
        <li>creare una cartella qui dentro, analogamente alle altre:<br />
            <a href="https://gitlab.com/ItalianLinuxSociety/ils.org/-/tree/master/pages/sezionilocali?ref_type=heads" rel="nofollow" target="_blank">ils.org:<code>/pages/sezionilocali</code></a>
        </li>
    </ol>
    <p>Non vediamo l'ora di vedervi online nell'elenco! Quindi non abbiate paura di proporre modifiche a questo sito.</p>
</details>

<a class="cta-button" href="/iscrizione">Associati a Italian Linux Society</a>
