---
layout: sezionelocale
title: ILS Genova
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>La <strong>Sezione Locale di Genova</strong> di Italian Linux Society nasce ad ottobre 2024 
        per ridare vita alle attività in Genova.</p>
        <p>Il gruppo non ha ancora una sede fissa, quindi contattaci per sapere i prossimi incontri!</p>
        <p>Tramite la Sezione ci proponiamo di creare un'occasione di ritrovo per le persone appassionate di Genova, offrendo supporto e informazione.</p>
        <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/genova/18">Associati in Italian Linux Society - Genova</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Referente</strong>:<br />
                    Giovanni Longo<br>gvnn@linux.it
                </p>
            </div>
            <div class="card-body">
                <p>
                    <strong>Chat Telegram</strong>:<br />
                    <a href="https://t.me/GenovaLinuxUserGroup" rel="nofollow">@GenovaLinuxUserGroup</a>
                </p>
            </div>
        </div>
    </div>
</div>
