---
layout: sezionelocale
title: ILS Vicenza
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>
            <p>La <strong>Sezione Locale di Vicenza</strong> di Italian Linux Society nasce da un gruppo di persone appassionate dalla convinzione che l'informazione, la cultura, la scienza e la tecnica debbano essere liberamente accessibili e fruibili da tutti e che ognuno possa liberamente studiare, contribuire a modificare e distribuire i contenuti.</p>

            <p>Particolare attenzione viene posta verso il software Open Source ed il sistema operativo Linux.</p>

            <p>In questo momento di sempre maggiore diffusione delle applicazioni di <strong>Intelligenza Artificiale</strong>, di <strong>Smart Working</strong> e di <strong>Didattica a Distanza</strong>, è importante collaborare alla diffusione di una cultura informatica di base ed alla preservazione di hardware diventato obsoleto per l'utilizzo di software proprietario.</p>

            <p>In tale direzione, ci proponiamo d'intensificare i contatti col <strong>mondo scolastico</strong>, con le <strong>pubbliche amministrazioni</strong>, con l'<strong>associazionismo</strong> e col <strong>mondo no-profit</strong>.</p>
            
            <p>In parallelo, particolare riguardo viene riservato a tutti coloro che abbisognano di una cultura informatica di base per affrontare le incombenze burocratiche quotidiane e/o che non possono permettersi nuovo materiale hardware.</p>

            <p>Altro obiettivo di azione è la grande platea di coloro che trovano insufficiente, inefficiente, rigido, scarsamente riguardoso della privacy o, semplicemente, troppo costoso per le proprie esigenze il software proprietario e che vorrebbero migrare verso l'Open Source.</p>

            <p>Il referente 2024 della sezione, Bruno Zaupa, è stato per diversi anni presidente dell'associazione <a href="https://lugvi.it/" target="_blank">LugVI</a>.</p>
            <p><small>Il <a href="/images/sezioni-locali/ils_vicenza_logo_linux.png" target="_blank">logo di ILS Vicenza</a> è rilasciato in Creative Commons Zero, pubblico dominio, da Bruno Zaupa.</small></p> 

            <p><a class="cta-button" href="https://ilsmanager.linux.it/ng/register/to/vicenza/16">Associati in Italian Linux Society - Vicenza</a></p>
    </div>
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body">
                <a href="https://vicenza.ils.org/"><img src="/images/sezioni-locali/ils_vicenza_logo_linux.png" title="logo Italian Linux Society Vicenza" class="img-fluid" /></a>
            </div>
            <div class="card-body">
                <p>
                    <strong>Referente</strong>: Bruno Zaupa<br>supabr1@linux.it
                </p>
            </div>
            <div class="card-body">
                <p>
                    Sito ufficiale:<br />
                    <a class="btn btn-primary" href="https://vicenza.ils.org/" role="button" title="Italian Linux Society - Vicenza">vicenza.ils.org</a>
                </p>
             </div>
        </div>
    </div>
</div>
